
<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	<div class="blogs content">
		<h2>Error - 404 - This page doesn't exist</h2>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>